body {
    margin: 0px;
    padding: 0px;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background: -moz-linear-gradient(-45deg, #FDFCFB 32%, #E2D1C3 68%);
    background: -webkit-linear-gradient(-45deg, #FDFCFB 32%, #E2D1C3 68%);
    background: linear-gradient(135deg, #FDFCFB 32%, #E2D1C3 68%);
}

html {
    margin: 0px;
    padding: 0px;
}

* {
    letter-spacing: 1px;
    font-family: Arial;
}

.container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes card-ani1 {
    0% {
        opacity: 0;
        transform: translateX(30px) translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}
@keyframes card-ani2 {
    0% {
        opacity: 0;
        transform: translateX(0px) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
        color: #6e6d6d;
        border-color: #6e6d6d;
    }
}

@keyframes card-ani100 {
    0% {
        opacity: 0;
        transform: translateX(0px) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
        color: white;
        border-color: white;
    }
}
.container .card {
    width: 308px;
    height: 308px;
    padding: 30px;
    border-radius: 10px;
    margin: 80px auto 50px auto;
    background-color: white;
    animation: card-ani1 1s;
    transition-delay: 1s;
    position: relative;
}

.container .card .name {
    font-size: 28px;
    margin: 15px auto 0px auto;
    animation: card-ani2 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.container .card hr {
    border: 0;
    height: 1px;
    background-color: #218445;
    animation: card-ani2 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
.container .card .title {
    font-size: 14px;
    animation: card-ani2 1s;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 1;
}

.container .card .title a {
    color: #6e6d6d;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.container .card .media {
    font-size: 14px;
    margin: 242px auto 6px 160px;
    position: relative;
    bottom: 4rem;
    z-index: 1;
    animation: card-ani2 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.container .card .media2 {
    font-size: 14px;
    margin: 242px auto 6px 160px;
    position: relative;
    bottom: 4rem;
    z-index: 1;
    animation: card-ani100 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.media a, .media2 a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .1rem solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    z-index: 1;
}

.media a {
    animation: card-ani2 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    text-decoration: none;
}

.media2 a {
    animation: card-ani100 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    text-decoration: none;
}



@keyframes card-ani3 {
    0% {
        opacity: 0;
        transform: translateX(-60px) translateY(-60px);
    }
    100% {
        opacity: 0.5;
        transform: translateX(0px) translateY(0px);
    }
}
.container .card .card-back {
    width: 308px;
    height: 308px;
    padding: 30px;
    border-radius: 10px;
    margin: -378px 0px 0px -8px;
    background-color: white;
    z-index: -1;
    position: relative;
    opacity: 0.5;
    animation: card-ani3 1s;
    transition-delay: 10s;
}


.card-button-cooperation .cooperation-text {
    transform: rotate(90deg);
    padding: 0px 36px 0px 8px;
    font-weight: bold;
    font-size: 16px;
}

@keyframes card-ani4 {
    0% {
        opacity: 0;
        transform: translateX(50px) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}
.container .card .card-front {
    width: 308px;
    height: 308px;
    padding: 30px;
    border-radius: 10px;
    margin: -280px 0px 0px -56px;
    background-color: transparent;
    border: solid 2px white;
    z-index: -1;
    position: relative;
    animation: card-ani4 1s;
    transition-delay: 6s;
}

.container .card .card-button-about.active,
.container .card .card-button-cooperation.active{
    border-right: 22px solid white;
    color: #6e6d6d;
}

.container .card .card-button-about ,
.container .card .card-button-cooperation {

    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 22px solid #218445;
    height: 90px;
    padding: 5px 10px 8px 10px;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    animation: card-ani4 0.5s;
    color: white;
}
.container .card .card-button-cooperation {
    margin: -250px 0px 0px 318px;
}
.container .card .card-button-about {
    margin: -320px 0px 0px 318px;
}

.card-button-about .about-text {
    transform: rotate(90deg);
    padding: 0px 21px 0px 23px;
    font-weight: bold;
    font-size: 16px;
}

.container .card .card2 {
    width: 308px;
    height: 308px;
    padding: 30px;
    border-radius: 10px;
    margin: -140px auto 0px -30px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    animation: card-ani4 1s;
    transition-delay: 6s;
}
.container .card .card2 .card-green {
    width: 308px;
    height: 328px;
    padding: 30px;
    border-radius: 10px;
    margin: -72px 0px 0px -56px;
    background-color: transparent;
    border: solid 2px #218445;
    position: relative;
}

@keyframes circle-ani1 {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    20% {
        transform: translateX(20px) translateY(-10px);
    }
    40% {
        transform: translateX(-10px) translateY(-30px);
    }
    60% {
        transform: translateX(-20px) translateY(-10px);
    }
    80% {
        transform: translateX(10px) translateY(10px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}
@keyframes circle-ani2 {
    0% {
        transform: translateX(20px) translateY(0px);
    }
    20% {
        transform: translateX(-10px) translateY(20px);
    }
    40% {
        transform: translateX(0px) translateY(-10px);
    }
    60% {
        transform: translateX(20px) translateY(0px);
    }
    80% {
        transform: translateX(-10px) translateY(20px);
    }
    100% {
        transform: translateX(20px) translateY(0px);
    }
}
@keyframes circle-ani3 {
    0% {
        transform: translateX(-30px) translateY(10px);
    }
    20% {
        transform: translateX(-10px) translateY(0px);
    }
    40% {
        transform: translateX(0px) translateY(-20px);
    }
    60% {
        transform: translateX(20px) translateY(10px);
    }
    80% {
        transform: translateX(15px) translateY(-20px);
    }
    100% {
        transform: translateX(-30px) translateY(10px);
    }
}
.circle1 {
    width: 500px;
    height: 500px;
    background-color: #218445;
    border: 0;
    opacity: 0.3;
    position: absolute;
    border-radius: 100%;
    bottom: -254px;
    left: -255px;
    animation: circle-ani1 10s infinite;
    animation-timing-function: linear;
}

.circle2 {
    width: 120px;
    height: 120px;
    background-color: #218445;
    border: 0;
    opacity: 0.5;
    position: absolute;
    border-radius: 100%;
    bottom: 214px;
    left: -69px;
    animation: circle-ani2 10s infinite;
    animation-timing-function: linear;
}

.circle3 {
    width: 30px;
    height: 30px;
    background-color: #218445;
    border: 0;
    opacity: 0.6;
    position: absolute;
    border-radius: 100%;
    top: 183px;
    left: 78px;
    animation: circle-ani3 10s infinite;
    animation-timing-function: linear;
}

.circle4 {
    width: 220px;
    height: 220px;
    background-color: transparent;
    border: solid 2px #218445;
    opacity: 0.6;
    position: absolute;
    border-radius: 100%;
    bottom: -100px;
    left: 100px;
    animation: circle-ani3 10s infinite;
    animation-timing-function: linear;
}

.circle5 {
    width: 50px;
    height: 50px;
    background-color: #218445;
    border: 0;
    opacity: 0.5;
    position: absolute;
    border-radius: 100%;
    bottom: 30px;
    left: 298px;
    animation: circle-ani2 10s infinite;
    animation-timing-function: linear;
}

.circle6 {
    width: 300px;
    height: 300px;
    background-color: transparent;
    border: solid 2px #218445;
    opacity: 0.6;
    position: absolute;
    border-radius: 100%;
    top: -150px;
    right: -80px;
    animation: circle-ani3 10s infinite;
    animation-timing-function: linear;
}

.circle7 {
    width: 165px;
    height: 165px;
    background-color: #218445;
    border: 0;
    opacity: 0.45;
    position: absolute;
    border-radius: 100%;
    top: 71px;
    right: -106px;
    animation: circle-ani1 10s infinite;
    animation-timing-function: linear;
}

.circle8 {
    width: 20px;
    height: 20px;
    background-color: #218445;
    border: 0;
    opacity: 0.7;
    position: absolute;
    border-radius: 100%;
    top: 183px;
    right: 78px;
    animation: circle-ani2 10s infinite;
    animation-timing-function: linear;
}

@media (max-width: 281px) {
    .container .card {
        width: 260px;
        height: 260px;
    }
    .container .card .card-back {
        width: 260px;
        height: 260px;
    }

}